<ion-view view-title="About">
    <ion-content scroll="true">
        <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
        <!--</ion-item>-->
        <div class="page-content space-small">
            <h1 class="about-text-header">Geo Diary</h1>

            <p class="about-text">
               Geo Diary is your companion when you travel. Mark down where you are and save them in your Geo  Diary.
            </p>

            <h3 class="about-text-header">Developer & Designer</h3>

            <p class="about-text">Kasun Kodagoda</p>

            <h3 class="about-text-header">Publisher</h3>
            <a href="http://k2vsoftware.com/" target="_blank"><img src="img/logo-k2v.png" width="80"></a>

            <p class="about-text">K2V Software Solutions</p>
            <div class="social-icon-set">
                <a class="button button-icon icon ion-ios7-email-outline contact-icon" target="_blank" href="mailto:kvkrusl@gmail.com"></a>
                <a class="button button-icon icon ion-ios7-world-outline contact-icon" target="_blank" href="http://k2vsoftware.com/"></a>
                <a class="button button-icon icon ion-social-facebook-outline contact-icon" target="_blank" href="https://www.facebook.com/K2VSS"></a>
                <a class="button button-icon icon ion-social-twitter-outline contact-icon" target="_blank" href="https://twitter.com/K2VSoftware"></a>
                <a class="button button-icon icon ion-social-googleplus-outline contact-icon" target="_blank" href="https://www.google.com/+K2vsoftwaresolutions"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
