<ion-view view-title="Help">
    <ion-content scroll="true">
        <div class="page-content space-small">
            <h1 class="about-text-header">User Guide</h1>

            <h3 class="help-heading">Add Diary Entry</h3>
            <p class="help-text">In the home page tap on the location pin icon to get your current location. When prompted enter a Title
                (Required) and a Description (Optional) and save the location in Geo Diary.</p>

            <h3 class="help-heading">View Diary Entries</h3>
            <p class="help-text">From the side menu tap on the ‘My Locations’ menu item to view all Geo Diary entries. Tap on one entry and move to the details page to see full details including the Title, Description (if any), Time stamp and the Location
                is pined to a Google Map where you have the full control to view it.</p>

            <h3 class="help-heading">Search Diary Entries</h3>
            <p class="help-text">In ‘My Location’ use the search box on the top of the page to search Geo Diary entries by Title to quickly find your diary entries.</p>

            <h3 class="help-heading">Customer Support</h3>
            <p class="help-text">If you have any issues regarding the app please provide your feedback to us. We value your feedback, ideas and bug reports
                to provide you with the best possible experience. Contact us at K2V Software Solutions.</p>
            <div>
                <a class="button button-icon icon ion-ios7-email-outline" href="mailto:kvkrusl@gmail.com" target="_blank"></a>
                <a class="button button-icon icon ion-ios7-world-outline" href="http://k2vsoftware.com/" target="_blank"></a>
                <a class="button button-icon icon ion-social-facebook-outline" href="https://www.facebook.com/K2VSS" target="_blank"></a>
                <a class="button button-icon icon ion-social-twitter-outline" href="https://twitter.com/K2VSoftware" target="_blank"></a>
                <a class="button button-icon icon ion-social-googleplus-outline" href="https://www.google.com/+K2vsoftwaresolutions" target="_blank"></a>
            </div>
        </div>
    </ion-content>
</ion-view>
